.navbar {
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid;
  border-width: 1px;
  position: fixed;
  width:100%;
  top: 0px;
  left: 0px;
  background-color:rgb(0, 0, 0);
  

}
.middle-section {
  background-color: whitesmoke;
  flex: .5;
  text-align: center;
  border: solid;
  border-width: 1px;
  
}
.right-section {
  width: 150px;
  
}

.row {
    display: flex;
    padding: 0 4px;
  }

  .column  {
    float: left;
    width: 25.33%;
    padding: 5px;
    background-color: turquoise;
    border: solid;
    border-width: 1px;
    font-size: 20px;
  }
  
.column img {
    margin-top: 8px;
    
    width: 100%;
  }


  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;

}
.bb {
  width: fit-content;
  background-color: lightgrey;
  text-align: center;
  
}
body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
  color: lightseagreen;
}
a:hover{
  color:blueviolet
}
p:hover{
  font-size: 28px;
}

.snake {
  margin-top: 13px;

}
