.row {
    display: flex;
    padding: 0 4px;
  }

  .column {
    float: left;
    width: 25.33%;
    padding: 5px;
    background-color: turquoise;
  }
  
.column img {
    margin-top: 8px;
    
    width: 100%;
  }


  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  